*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #292929;
    text-align: center;
}

#canvas-border {
    background-color: #181818;
    position: fixed;
    left: 50vw;
    top: 3vh;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-radius: 2vh;
    width: 95vh;
    height: 95vh;
}

#canvas {
    background-image: url("./assets/gameField.png");
    background-size: cover;
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 44vw;
    height: 44vw;
}